body {
  background-image: url(../img/blue2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.intro {
  text-align: left;
  font-family: fantasy;
  padding: 5px 5px 10px 5px;
  margin:  10px 10px 10px 10px;
}

.intro h1 {
  padding-left: 40px;
}

.intro h2 {
  border-bottom: 5px double #2b91c4;
  padding-left: 150px;
  font-size: 75px;
}

img {
  width: 95%;
  border: solid;
  padding: 5px;
  margin: 5px 5px 15px 5px;
}

.bold {
  font-weight: bold;
}

ul li {
  list-style-type: none;
  margin-left: -15px;
}

.panel-primary {
  opacity: 0.9;
}

.col-md-9 {
  opacity: 0.9;
}

.quote {
  color: #2682af;
  font-size: 20px;
  text-align: right;
  font-style: italic;
  width: 60%;
  float: right;
}

.ending {
  text-align: right;
  margin-right: 30px;
}

.email {
  font-style: italic;
  text-decoration: underline;
}
