body {
  background-image: url(../img/blue2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.intro {
  text-align: left;
  font-family: fantasy;
  padding: 5px 5px 10px 5px;
  margin:  10px 10px 10px 10px;
}

.intro h2 {
  font-weight: bold;
  border-bottom: 5px double #2b91c4;
  padding-left: 100px
}

img {
  width: 95%;
  border: solid;
  padding: 5px;
  margin: 5px;
}

.bold {
  font-weight: bold;
}

ul li {
  list-style-type: none;
  margin-left: -15px;
}

blockquote {
  color: #2682af;
  text-align: right;
}

.ending {
  text-align: right;
  float: right;
}

.email {
  font-style: italic;
  text-decoration: underline;
}
