body {
  background-color: #edf7fc;
}

.intro {
  text-align: center;
  font-family: fantasy;
  padding: 5px 5px 10px 5px;
  margin:  5px 5px 10px 5px;
}

.intro h2 {
  border-bottom: 5px double grey;
}

img {
  width: 95%;
  border: solid;
  padding: 5px;
  margin: 5px;
}

ul li {
  list-style-type: none;
  margin-left: -15px;
}

blockquote {
  text-align: right;
}

.ending {
  text-align: right;
  float: right;
}

.email {
  font-style: italic;
  text-decoration: underline;
}
